@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f6fa;
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-color: #fafafa;
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
}

.header h1 {
  color: #0290ff;
  font-weight: 700;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: #121212;
  opacity: 0.5;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.navbar a:hover {
  opacity: 1;
}

.user-icon {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.fa-solid {
  color: #0290ff;
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5%;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.book-div {
  border: 1px solid #e8e8e8;
  border-radius: 0.2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.book-info {
  width: 45%;
  text-transform: capitalize;
}

.book-category {
  color: #121212;
  opacity: 0.6;
  font-weight: 700;
  font-size: 0.9rem;
}

.book-title {
  color: #121212;
  font-weight: 700;
  font-size: 1.5rem;
}

.book-author {
  color: #4386bf;
  font-weight: 300;
  font-size: 0.8rem;
}

.book-btns {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.book-btns button {
  background: transparent;
  border: none;
  color: #4386bf;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
  font-size: 0.9rem;
}

.book-btns .btn-divider {
  width: 0.15rem;
  height: 1.2rem;
  margin: 0 1rem;
  background-color: #e8e8e8;
}

.book-status {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.status-info .percentage {
  font-size: 2rem;
  font-weight: 400;
}

.status-info .completed {
  color: #121212;
  opacity: 0.5;
  font-size: 0.9rem;
}

.progress-divider {
  background-color: #e8e8e8;
  width: 0.15rem;
  height: 5rem;
  margin: 1rem 4rem;
}

.book-chapter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.book-chapter .current-chapter {
  color: #121212;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.book-chapter .chapter-number {
  color: #121212;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

.book-chapter .btn-update-progress {
  border: none;
  border-radius: 0.1rem;
  background-color: #0290ff;
  color: #fff;
  padding: 0.5rem 1.4rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-form h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #888;
  text-transform: uppercase;
}

.book-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-form form input {
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
  width: 35%;
}

.book-form form input:focus {
  border: 1px solid #0290ff;
}

.book-form .btn-add-book {
  width: 20%;
  border: none;
  border-radius: 0.1rem;
  background-color: #0290ff;
  color: #fff;
  padding: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}
