* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.book-div {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.8rem;
}

.book-info {
  width: 45%;
}

.book-status {
  width: 25%;
}

.book-chapter {
  width: 25%;
}
